@import "tailwindcss";

@theme {
  --color-gold-50: #fbf8f1;
  --color-gold-100: #f5eedf;
  --color-gold-200: #eadcb9;
  --color-gold-300: #dec18c;
  --color-gold-400: #d4af37; /* Primary Gold */
  --color-gold-500: #bfa035;
  --color-gold-600: #a3852d;
  --color-gold-700: #826827;
  --color-gold-800: #6b5426;
  --color-gold-900: #584524;
  --color-gold-950: #322612;
  
  --font-serif: var(--font-playfair-display), ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
  body {
    @apply bg-black text-white;
  }
}
